#Applysheet_main{
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
    box-shadow: 0px 0px 16px 0px black;    
    background-color:   #0b0c0a;  
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto; 
    width: 90%;
    margin-bottom: 25px;
}

#HTMLform{
    background-color: #F6F6F6;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
    border: #000000 solid 1px;
}

#UserDetails{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    margin-bottom: 60px;
    font-size: 35px;
    padding: 2px;
}

.formHeader{
    left: 300px;
    font-size: 30px;
    align-self: center;
    text-align: center;
    color:  #0b0c0a;
    padding-bottom: 5px;

}

.lable{
    font-size: 23px;
    padding-top: 20px;
}

.courseList1{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    font-size: 20px; 
}

.courseList2{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    font-size: 20px; 
}

#formButtons{
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.buttons{
    background-color: #0b0c0a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}

#billInfo{
    width: 30%;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

.billLable{
    padding: 6px;
}

#discountInfo{
    width: 60%;
    margin-left: 10px;
    margin-top: 40px;
    padding-right: 125px;
    float: left;
    line-height: 20px;
    font-size: 15px; 
}

.button{
    margin-top: 100px;
    background-color:  #0b0c0a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.social img {
    width: 50px;
    height: 50px;
    margin: 5px;
    transition: transform 0.3s ease;
}

.social img:hover {
    transform: scale(1.1);
}

footer {
    margin-top: 20px;
    text-align: center;
}

